<header class="header">
  <div class="top-bar">
    <a href="/"><img class="logo" src="logo.png" alt="Logo de la tienda" /></a>

    <div class="search">
      <input #searchInput type="text" placeholder="Buscar productos..." (keyup.enter)="searchProducts(searchInput.value)" />
      <button type="button" (click)="searchProducts(searchInput.value)">🔍</button>
    </div>

    <div class="icons">
      @if (authService.isLoggedIn()){
        <span>👤<span class="username">{{name()}}</span></span>
      }
      @else {
        <a class="username" href="/login">Iniciar sesión</a>
      }
      <span class="cart-icon" (click)="onCartClick()">
        <div class="cart-items">
          {{cantidad()}}
        </div>
        🛒
      </span>
      @if (authService.isLoggedIn()){
        <options-menu></options-menu>
      }
    </div>
  </div>

  <nav class="nav">
    <span (click)="filterByCategory('Desarrollo')">Desarrollo</span>
    <span (click)="filterByCategory('Componentes')">Componentes</span>
    <span (click)="filterByCategory('SMD')">SMD</span>
    <span (click)="filterByCategory('Optoelectrónica')">Optoelectrónica</span>
    <span (click)="filterByCategory('Herramientas')">Herramientas</span>
    <span (click)="filterByCategory('3D/CNC')">3D / CNC</span>
    <span (click)="filterByCategory('Energía')">Energía</span>
    <span (click)="filterByCategory('Audio y Video')">Audio y Video</span>
    <span (click)="filterByCategory(null)">Todos</span>
    <!--button type="button" (click)="filterByCategory(null)">Todos</button>
    <button type="button" (click)="filterByCategory('Amplificadores')">Amplificadores</button>
    <button type="button" (click)="filterByCategory('Audio')">Audio</button>
    <button type="button" (click)="filterByCategory('Instrumentación')">Instrumentación</button-->
  </nav>
</header>